* {
	Text: #cdd6f4;
	Subtext1: #bac2de;
	Subtext0: #a6adc8;
	Overlay2: #9399b2;
	Overlay1: #7f849c;
	Overlay0: #6c7086;
	Surface2: #585b70;
	Surface1: #45475a;
	Surface0: #313244;
	Base: #1e1e2e;
	Mantle: #181825;
	Crust: #11111b;
}
